.aboutus img{
    max-width: 90%;
}
h2{
    color: #cf2727;
}

.form a:link, .form a:visited{
    text-decoration: none;
    color: white;
}
.form{
    font-size: 1.2rem;
}

.form__button{
    background-color: #c92a2a;
    display: inline-block;
    border-width: 0px;
    border-style: solid;
    padding: 12px;
}
.form__button:hover{
    background-color: #943333;
    color: #fff;
    display: inline-block;
}

.form__button a:hover a:active{
    color: #fff;

}

@media only screen and (max-width: 1200px) {
    .size {
      flex-wrap: wrap;
    }
} 