.big{
    border-bottom: 1px red;
}

.big h3{
    color: rgb(105, 105, 105);
}

.big img{
    width: 100%;
    height: 100%;
}

.big .first{
    max-height: 20vh;
}

.big .second{
    height: 20vh;
}
