.button {
    background-color:#eb383c;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding: 10px;
    min-width: 50px;
}

.button:hover{
    background-color:#eb1e21;
}

  input[type=text] {
    border: 0px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 1px 2px 10px 3px #acacac;
    color: #acacac;
}

select{
    border: 0px;
    padding: 12px;
    border-radius: 7px;
    box-shadow: 1px 2px 10px 3px #acacac;
    color: #acacac;
}
select, option{
    text-align: center;
}

input[type=text]::placeholder{
    color: #acacac;
}

textarea:focus, select:focus, input:focus{
    outline: none;
}