.logo img{
    max-width: 300px;
    max-height: 100px;
}
.menu{
    font-size: 1.2rem;
}

a:hover{
    color: #eb383c !important;
}

a:active{
    color: #eb383c !important;
}

.ref{
    color: darkgray;
    font-size: 0.8rem;
}