.header .logo img{
    max-width: 300px;
    max-height: 100px;
}
.header .menu{
    font-size: 1.2rem;
}

.header a:hover{
    color: #eb383c !important;
}

.header a:active{
    color: #eb383c !important;
}

.header .ref{
    color: darkgray;
    font-size: 0.8rem;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    text-decoration: none !important;
}