.myList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 40px;
    align-items: center;
}

.myList img{
    height: 300px;
    width: 450px;
}

h3{
    color: #cf2727;
}