 .propertyList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}

.propertyList img{
    height: 30vh;
    width: 25vw;
} 

.item{
    height: 30vh;
    width: 25vw;
}

.ref{
    font-size: 0.8rem;
    color: rgb(150, 148, 148);
}
.propertyList a{
    text-decoration: none;
    color: #fff;
}

.propertyList__button{
    background-color: #c92a2a;
    display: inline-block;
    border-width: 0px;
    border-style: solid;
    padding: 12px;
}
.propertyList__button:hover{
    background-color: #943333;
    color: #fff;
    display: inline-block;
}

.propertyList__button a:hover a:active{
    color: #fff;

}